{
    "logging": {
        "version": 1,
        "handlers": {
            "ntfyHandler": {
                "class": "ntfy_handler.NtfyHandler",
                "level": "INFO",
                "topic_name": "rit-auto-renew",
            }
        },
        "loggers": {
            "rit_auto_renew": {
                "handlers": [
                    "ntfyHandler"
                ],
                "level": "INFO"
            }
        }
    },
    "username": "abc1234",
    "password": "password"
}
